body{
  background-color: rgb(255, 255, 255);
}

.btn{
    cursor: pointer;
}

body {
  color: rgb(56, 125, 170);
}

.clicked{
    color: #01DF3A;
}

.form,
.greetings {
  display: none;
}

.showing{
  display: block;
}